@page
@model api_aspnet_dotnet_csharp.Pages_Subscriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Student.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subscription.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
